
  @import url('https://fonts.googleapis.com/css2?family=Oswald:wght@500&display=swap');
    
body {
    margin:0;
    padding: 0;
    background-color: #1d1f27;
}
.div-header {
    background-color: #17171a;
    padding-top:2px;
    padding-bottom: 10px;
}
.div-header-1 {
    display: flex;
    justify-content: space-between;
    margin-left: 300px;
    margin-top:10px;
    font-size:12px;
    color: white;
    
}
.gas {
    margin-right: 200px;
}
.usd {
    margin-right: 50px;
    margin-left: 0px;
}
.language {
    margin-left: 130px;
}
hr {
    padding: 0;
    margin-top: -0.5px;
    background-color: #17171a;
    height: 5px;
}



.div-header-2 {
    background-color: #17171a;
}

.div-header-3 {
    margin-top: -9px;
    padding-top:10px;
    padding-bottom: 10px;
    color: white;
    display: flex;
    justify-content: space-between;
    margin-left: 300px;
    font-family: 'Oswald', sans-serif;
}

.div-header-4 {
    display: flex;
}
.div-header-4-1 {
    margin-left: 300px;
    margin-top: 15px;
}
.div-header-4-2 {
    margin-top: 15px;
    margin-left: 25px;
}
.div-header-4-3 {
    margin-top: 15px;
    margin-left: 25px;
}
.div-header-4-4 {
    margin-top: 15px;
    margin-left: 25px;
}
.div-header-4-5 {
    margin-top: 15px;
    margin-left: 25px;
}
